$themes: (
  light: (
    primary: #475ac6,
    color-background: #fafafa,
    color-card: #fff,
    primary-text: #121212,
    primary-button-background: #212121,
    secondary-button-hover: #eee,
  ),
  dark: (
    primary: #475ac6,
    color-background: #212121,
    color-card: #212121,
    primary-text: #fafafa,
    primary-button-background: #fafafa,
    secondary-button-hover: #2b2a2a,
  ),
);
