$primary: #8aa899;
$themes: (
  light: (
    primary: $primary,
    color-background: #fafafa,
    color-card: #fff,
    primary-text: #121212,
    primary-button-background: #212121,
    secondary-button-hover: #eee,
    error-text: #cc0033,
  ),
  dark: (
    primary: $primary,
    color-background: #212121,
    color-card: #212121,
    primary-text: #fafafa,
    primary-button-background: #fafafa,
    secondary-button-hover: #2b2a2a,
    error-text: #c74059,
  ),
);
