.login-form {
  margin-top: 20px;
  max-width: 500px;
  @include theme-aware('color', 'primary-text');

  & .form-field {
    margin-bottom: 1rem;
  }

  & .login-form-links {
    margin-top: 15px;
    margin-bottom: 15px;

    & .login-form-item {
      margin-bottom: 10px;
      font-size: small;
    }
  }
}
